body {
		font-family: Arial, Verdana, sans-serif;
		font-size: 100%;
		color: #0b0000;
		text-shadow:#558ABB;
		background:url(dindin3.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	h1{
		font-size: 75px;
		padding-left: 50px;
		padding-top: 100px;
		text-align: center;
	}
	p{
		padding-left: 20px;
		text-align: center;
		font-size: 130%;
	}

	li {
		list-style-image: url("icon-plus.png");
		margin-left: 370px;
		font-size: 20px;

	}

	table {
		border-spacing: 0px;
		margin: auto;
		width: 80%;
	}

	th, td {
		padding: 5px 30px 5px 10px;
		border-spacing: 0px;
		font-size: 90%;
		margin: 0px;
		color: #000000;
	}
			
	th, td {
		text-align: left;
		background-color:#e0d5f0;
		border-top: 1px solid#0e0a0d;
		border-bottom: 1px solid #804d6c;
		border-right: 1px solid#9d5e85;
		text-align: center;
	}
	tr.head th {
		color: #fff;
		background-color: #380b8a;
		border-bottom: 2px solid #547ca0;
		border-right: 1px solid #749abe;
		border-top: 1px solid #90b4d6;
		text-align: center;
		text-shadow: -1px -1px 1px #666666;
		letter-spacing: 0.15em;
	}
	
	td {
		text-shadow: 1px 1px 1px #d3d3d3;
		color: 232023 ;
	}

	tr.even td, tr.even th {
		background-color: #e8eff5;
	}

	tr.head th:first-child {
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
	}

	tr.head th:last-child {
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
		background-color: 000000;
	}
	fieldset {
		width: 310px;
		margin-top: 20px;
		border: 1px solid #d6d6d6;
		background-color: #f6f1f582;
		line-height: 1.6em;
		margin: auto;
	}

	legend {
		font-style: italic;
		color: #000000;
	}

	input[type="text"] {
		width: 120px;
		border: 1px solid #d6d6d6;
		padding: 2px;
		outline: none;
	}

	input[type="text"]:focus,
	input[type="text"]:hover {
		background-color: #f5caef;
		border: 1px solid #4d2572;
	}
	input[type="submit"] {
		border: 1px solid #006633;
		background-color: #1ad194;
		color: #030303;
		border-radius: 5px;
		padding: 5px;
		margin-top: 10px;
	}

	input[type="submit"]:hover {
		border: 1px solid #006633;
		background-color: #00CC33;
		color: #ffffff;
		cursor: pointer;
	}

	.title {
		float: left;
		width: 160px;
		clear: left;
		color: #000000;
	}
	.submit {
		width: 310px;
		text-align: center;
		margin: auto;
	}